.footer {
    position: relative;
    z-index: 1000;
    height: 150px;
    background-color: var(--background-color);
    color: var(--text-black);
}
.footer-logo {
    vertical-align: top;
    margin-top: 40px;
    margin-left: 60px;
    display: inline-block;
}
.footer-button {
    display: inline-block;
    float: right;
    padding-right: 60px;
    margin-top: 60px;
}
.footer-button > a {
    background: var(--primary-color);
    color: var(--text-white);
}

.top-shadow {
    width: 100%;
    overflow-y: hidden;
    padding: 0 0 10px;
}
.top-shadow > div {
    width: 100%;
    box-shadow: 0px 0px 6px 3px #676767;
    -moz-box-shadow: 0px 0px 6px 3px #676767;
    -webkit-box-shadow: 0px 0px 6px 3px #676767;
}

@media only screen and (max-width: 750px) {
    .footer-button {
        display: none;
    }
    .footer {
        text-align: center;
    }
    .footer-logo {
        margin: 40px auto;
    }
}
